@import './scss/variables', './scss/navbar', './scss/hero',
  './scss/finance_cloud';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: $gray-text;
}

header,
.hero {
  background-color: $bg-primary;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $white-text;
}

// ! Temporal not visibility
.all-in-one,
.hr-cloud,
.differentiator {
  display: none;
}

// table,
// td {
//   border: 1px solid #333;
// }
